/* A font to rule them all */
*{
font-family: 'Open Sans', sans-serif;

}
/* A font to rule them all */





/* BACKGROUND */
body {
    background-color: #ebebeb;
    
}


/*BACKGROUND*/


/* RESPONSIVE */



@media only screen and (min-width: 768px){

.box0 {
    margin-left: 25%;
    margin-right: 25%;
}
}
@media only screen and (max-width: 768px){

.box0 {
    margin-left: 0%;
    margin-right: 0%;
}
}


/* RESPONSIVE */


/* I AM THE IMAGE */
.box1 > img{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    border: solid 3px #a2a2a2;
;
}
/*  IM THE IMAGE */








/* CONTAINER */
.box1, .box0-social, .box0-film {
    border-radius: 0.3em;
    box-shadow: 2px 3px 3px rgb(210, 210, 210) ;
    display: flex;
    background-color: rgb(250, 250, 250);
    margin: 13px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
    min-width: 50%;
    flex-wrap: nowrap;

    }

    .box1 > h1 { 
color: #e2615c;
margin bottom: -10px;
margin: 6px;
}

.box1 > p{
    color: #8d8d8d;
    line-height: 1.8 ;
    text-align: justify;
    
}

h1 {
font-size: 1.7em ;
}


h2:first-of-type {
color: #7f7d7d;
font-size: 1.2em;
margin: 2px;
font-weight: 600 ;
text-align: center;
}


h3 {
color: #7f7d7d;
font-size: 1.1em;
margin: 2px;
font-weight: 400 ;
}

b {
    color: #7f7d7d;
font-weight: 800;


}
/* CONTAINER */




.button1 {
    border-radius: 0.3em;
    color: white;
    background-color: #e2615c;
    height: 40px;
    width: 150px;
    margin: -5px;
    
}


.button1 > p{
font-size: 1.2em;
margin-bottom: 100px;
margin-top: 7px;
margin-left: 18px;
}


p a:only-of-type {
    color: white;
    text-decoration: none;
}


.box0-film > h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-weight: 600;
}

/* FIRST BOX */
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    padding: 1em;
}
/* FIRST BOX */
    

.box0-social{

    justify-content: space-around;
    padding-top: 40px; 
    padding-bottom: 40px;   
    
}

ul {
   list-style-type: none;
   padding: 0;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    display: flex;
    flex-direction: column;
     margin-top: 10px;
     font-size: 1.5em;
     justify-content: space-between;
     margin: auto;
     margin-left: 20px;
     margin-right: 20px;
     
    

  
}

.fa-facebook-f, .fa-twitter, .fa-linkedin-in{
text-align: center;
color: #d9d9d9;

}

span {

    font-size: 0.5em;
}
    

li > a {
    display: flex;
    color: #d9d9d9;
    font-size: 0.6em;
    margin-top: 5px;
    text-decoration: none;
    justify-content: space-around;
}


/* TABLE */


.table {
display: flex;
padding: 35px;
padding-top: 10px;
justify-content: center;
}


td > img {

width:90px
}

td > p {
    text-align: justify;
    padding-left: 10px;
    line-height: 1.8;
    font-size: 0.9em;
    color: #8d8d8d;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

}

td > h3 {
    text-align: center;
    font-weight: 600;
}